/* général */

*
{
  color: #660066; /* Tsinghua purple */
  font-family: Verdana, sans-serif;
}

body
{
  background-color: #F1FAFA;
  font-size: 100%;
  max-width: 1000px;
  margin: auto;
}

.cadre
{
  background-color: #f9f5fa; /* light lavender tone for harmony */
  padding-top: 10px;
}

h1
{
  font-size: 2em;
  padding-left: 15px;
  color: #660066; /* Tsinghua purple */
}

h2
{
  font-size: 1.5em;
  padding-left: 15px;
  background-color: #660066; /* Tsinghua purple */
  color: white; /* better contrast */
}

a
{
  color: #660066; /* Tsinghua purple */
}

a:hover
{
  color: #993399; /* lighter purple on hover */
}

a:active
{
  color: red;
}

/* Menu navigation */

nav
{
  display: inline-block;
}

nav li
{
  display: inline-block;
  margin-right: 15px;
}

nav a
{
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  color: #660066; /* Tsinghua purple */
}

nav a:hover
{
  color: #993399; /* lighter purple on hover */
  border-bottom: 3px solid #660066; /* Tsinghua purple */
}

/* Blocs */

.bloc
{
  display: inline-block;
  vertical-align:top;
}

.bloc_left
{
  vertical-align:top;
  float:left;
}

.bloc_right
{
  vertical-align:top;
  float:right;
}

/* Images */

.logo
{
  padding: 5px;
  max-width: 210px;
  vertical-align: top;
}

.photo
{
  border: 2px solid #660066; /* Tsinghua purple */
  height: 200px;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 10px;
  vertical-align: top;
}
